* {
  margin: 0px;
  padding: 0px;
}
body {
  font-size: 12px;
  color: black;
  font-family: arial, sans-serif;
}
#wrapper {
  width: 960px;
  margin: auto;
  padding: auto;
}
.section_header {
  float: left;
  margin: 20px 0px 0px 160px;
}
.section_header > h1 {
  font-size: 16px;
}
.section_header > ul {
  width: 760px;
  margin: 0px 0px 0px 20px;
  list-style: none;
}
#news > ul > li {
  float: left;
  width: 760px;
  height: 100px;
  border-top-color: black;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
#news > ul > li > .news_section_info {
  float: left;
  width: 50px;
  height: 100px;
}
#news > ul > li > .news_section_info > .news_date,
#news > ul > li > .news_section_info > .news_img,
#news > ul > li > .news_section_info > .news_name {
  margin: 5px 0px 5px 20px;
}
#news > ul > li > .news_section_info > .news_date,
#news > ul > li > .news_section_info > .news_name {
  width: 50px;
  text-align: center;
}
#news > ul > li > .news_section_reaction {
  float: left;
  width: 640px;
  height: 50px;
  margin: 20px 0px 0px 50px;
}
#events {
  width: 760px;
}
#events > ul {
  list-style: none;
}
#events > ul > .offset {
  margin: 10px 0px 0px 50px;
}
#events > ul > li {
  float: left;
  width: 760px;
  height: 100px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  margin: 10px 0px 10px 0px;
}
#events > ul > li > a {
  float: left;
  width: 760px;
  height: 100px;
}
#events > ul > li > a > .event_title,
#events > ul > li > a > .event_location,
#events > ul > li > a > .event_description {
  float: left;
  width: 670px;
  margin: 5px 0px 5px 20px;
}
#events > ul > li > a > .event_date {
  float: right;
  width: 70px;
  margin: 5px 0px 5px 0px;
}
#projects > ul > li {
  float: left;
  width: 760px;
  height: 100px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  margin: 10px 0px 10px 0px;
}
#projects > ul > li > a {
  float: left;
  width: 760px;
  height: 100px;
}
#projects > ul > li > a > .project_title,
#projects > ul > li > a > .project_location,
#projects > ul > li > a > .project_description {
  float: left;
  width: 670px;
  margin: 5px 0px 5px 20px;
}
#projects > ul > li > a > .project_date {
  float: right;
  width: 70px;
  margin: 5px 0px 5px 0px;
}
.more_items {
  float: right;
  width: 60px;
  height: 20px;
}
.overview_title {
  float: left;
  width: 960px;
  height: 20px;
  text-align: center;
  margin: 10px 0px 0px 0px;
}
#top {
  float: right;
  width: 960px;
  height: 90px;
  margin: 10px 0px 0px 0px;
}
#top > section {
  float: right;
  width: 340px;
  height: 90px;
}
#top > section > .new_item {
  float: right;
  width: 150px;
  height: 40px;
}
#top > section > .search_input {
  float: right;
  width: 295px;
  height: 30px;
  margin: 20px 40px 0px 0px;
  padding: 0px 0px 0px 5px;
}
#bottom {
  float: left;
  width: 960px;
  height: 500px;
  margin: 10px 0px 0px 0px;
}
#bottom > #filter {
  float: left;
  width: 350px;
  height: 30px;
}
#bottom > #filter > .section_header {
  float: left;
  width: 350px;
  height: 20px;
  font-size: 16px;
}
#bottom > #filter > #cboSteden {
  float: left;
  width: 150px;
  height: 20px;
  margin: 0px 0px 0px 180px;
}
#bottom > #filter > ul {
  float: left;
  width: 350px;
  height: 100px;
  list-style: none;
}
#bottom > #filter > ul > li {
  float: left;
  width: 350px;
  height: 20px;
  margin: 0px 0px 0px 180px;
}
#bottom > #items {
  float: left;
  width: 610px;
  height: 30px;
}
#bottom > #items > ul {
  list-style: none;
}
#bottom > #items > ul > li {
  float: left;
  width: 610px;
  height: 100px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  margin: 10px 0px 10px 0px;
}
#bottom > #items > ul > li > a {
  float: left;
  width: 610px;
  height: 100px;
}
#bottom > #items > ul > li > a > .project_title,
#bottom > #items > ul > li > a > .project_location,
#bottom > #items > ul > li > a > .project_description {
  float: left;
  width: 540px;
  margin: 5px 0px 5px 20px;
}
#bottom > #items > ul > li > a > .project_date {
  float: right;
  width: 50px;
  margin: 5px 0px 5px 0px;
}
#bottom > #items > ul > li > a > .event_title,
#bottom > #items > ul > li > a > .event_location,
#bottom > #items > ul > li > a > .event_description {
  float: left;
  width: 540px;
  margin: 5px 0px 5px 20px;
}
#bottom > #items > ul > li > a > .event_date {
  float: right;
  width: 50px;
  margin: 5px 0px 5px 0px;
}
#new {
  float: left;
  width: 960px;
}
#new > h1 {
  float: left;
  width: 960px;
  height: 20px;
  text-align: center;
  margin: 10px 0px 0px 0px;
}
#new > #label {
  float: left;
  width: 260px;
  margin: 30px 0px 0px 200px;
}
#new > #label > p {
  width: 260px;
  height: 20px;
  margin: 10px 0px 0px 0px;
}
#new > #label > .textarea {
  margin: 10px 0px 50px 0px;
}
#new > #field {
  float: left;
  width: 340px;
  margin: 30px 0px 0px 0px;
}
#new > #field > p {
  float: left;
  width: 300px;
  height: 20px;
  margin: 10px 0px 0px 0px;
}
#new > #field > p > input {
  width: 295px;
  height: 20px;
  padding: 0px 0px 0px 5px;
}
#new > #field > textarea {
  width: 297px;
  height: 50px;
  margin: 10px 0px 0px 0px;
  padding: 0px 0px 0px 5px;
}
#new > #field > .cbo {
  width: 304px;
  height: 20px;
  margin: 10px 0px 0px 0px;
  padding: 0px 0px 0px 5px;
}
#new > #field > .img {
  width: 350px;
  height: 20px;
  margin: 10px 0px 0px 0px;
}
#new > #field > .img > p {
  width: 350px;
  height: 20px;
}
#new > #field > .img > p > input {
  float: left;
  width: 295px;
  height: 20px;
  padding: 0px 0px 0px 5px;
}
#new > #field > .img > p > button {
  float: left;
  width: 35px;
  height: 20px;
  margin: -18px 0px 0px 10px;
}
#new > #formButton {
  float: left;
  width: 960px;
  margin: 20px 0px 0px 360px;
}
#new > #formButton > p {
  float: left;
  width: 100px;
  height: 20px;
  margin: 0px 0px 0px 20px;
}
#new > #formButton > p > button,
#new > #formButton > p > input {
  width: 100px;
  height: 20px;
}
.info {
  float: left;
  width: 745px;
  margin: 10px 0px 0px 0px;
}
.info > .item_name {
  float: left;
  width: 150px;
  height: 20px;
  margin: 0px 0px 0px 20px;
}
.info > .item_value {
  float: left;
  width: 575px;
  height: 20px;
}
.buttons {
  float: left;
  width: 215px;
  margin: 10px 0px 0px 0px;
}
.buttons > button:nth-child(2) {
  margin: 0px 0px 0px 10px;
}
.buttons > button {
  width: 100px;
  height: 40px;
}
.images {
  float: left;
  width: 960px;
  margin: 10px 0px 0px 0px;
}
.images > p {
  float: left;
  width: 100px;
  height: 100px;
  margin: 0px 0px 0px 76px;
}
.images > p > img {
  width: 100px;
  height: 100px;
}
.members {
  float: left;
  width: 960px;
  margin: 10px 0px 0px 0px;
}
.members > ul {
  list-style: none;
  margin: 0px 0px 0px 5px;
}
.members > ul > li {
  float: left;
  width: 300px;
  height: 20px;
  margin: 0px 0px 0px 15px;
}
.ads {
  float: left;
  width: 960px;
}
.ads > ul {
  list-style: none;
  margin: 10px 0px 0px 50px;
}
.ads > ul > li {
  float: left;
  width: 760px;
  height: 120px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  margin: 10px 0px 10px 0px;
}
.ads > ul > li > .ads_name {
  float: left;
  width: 540px;
  height: 20px;
  margin: 10px 0px 0px 20px;
}
.ads > ul > li > .ads_linked_name {
  float: left;
  width: 100px;
  height: 20px;
  margin: 40px 0px 0px 20px;
}
.ads > ul > li > .ads_linked_value {
  float: left;
  width: 400px;
  height: 20px;
  margin: 40px 0px 0px 0px;
}
.ads > ul > li > .ads_img {
  float: left;
  width: 100px;
  height: 120px;
  margin: 10px 0px 10px 20px;
}
.ads > ul > li > .ads_img > img {
  width: 100px;
  height: 100px;
}
.ads > ul > li > .ads_date {
  float: right;
  width: 50px;
  margin: 5px 0px 5px 0px;
}
.articles {
  float: left;
  width: 960px;
}
.articles > ul {
  list-style: none;
  margin: 10px 0px 0px 50px;
}
.articles > ul > li {
  float: left;
  width: 760px;
  height: 100px;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  margin: 10px 0px 10px 0px;
}
.articles > ul > li > .article_name,
.articles > ul > li > .article_category {
  float: left;
  width: 690px;
  height: 20px;
  margin: 10px 0px 0px 20px;
}
.articles > ul > li > .article_linked_name {
  float: left;
  width: 100px;
  height: 20px;
  margin: 10px 0px 0px 20px;
}
.articles > ul > li > .article_linked_value {
  float: left;
  width: 400px;
  height: 20px;
  margin: 10px 0px 0px 0px;
}
.articles > ul > li > .article_date {
  float: right;
  width: 50px;
  margin: 5px 0px 5px 0px;
}
.comments {
  float: left;
  width: 960px;
}
.comments > ul {
  list-style: none;
  margin: 10px 0px 0px 50px;
}
.comments > ul > li {
  float: left;
  width: 760px;
  height: 100px;
  border-top-color: black;
  border-top-width: 1px;
  border-top-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.comments > ul > li > button {
  float: right;
  width: 100px;
  height: 20px;
  margin: 10px 10px 0px 0px;
}
.comments > ul > li > .comment_reaction {
  float: left;
  width: 500px;
  height: 50px;
  margin: 20px 0px 0px 50px;
}
.comments > ul > li > .comment_info {
  float: left;
  width: 50px;
  height: 50px;
}
.comments > ul > li > .comment_info > .comment_date,
.comments > ul > li > .comment_info > .comment_img,
.comments > ul > li > .comment_info > .comment_name {
  float: left;
  width: 50px;
  margin: 5px 0px 0px 20px;
}
.comments > ul > li > .comment_info > .comment_date,
.comments > ul > li > .comment_info > .comment_name {
  text-align: center;
}
.comment {
  float: left;
  width: 700px;
  height: 80px;
  margin: 10px 0px 0px 50px;
}
.comment > form > p {
  margin: 0px 0px 10px 10px;
}
.comment > form > textarea {
  width: 750px;
  height: 50px;
}
.comment > form > input {
  float: right;
  width: 100px;
  height: 20px;
  margin: 10px 0px 0px 0px;
}
